<?xml version="1.0" encoding="utf-8"?>
<CamBamConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <formstates>
    <state name="PolylineItemUI" x="576" y="140" w="852" h="512" state="0">
      <usermetrics />
    </state>
    <state name="PromptDialog" x="109" y="129" w="491" h="133" state="0">
      <usermetrics />
    </state>
    <state name="ResizeUI" x="260" y="260" w="465" h="261" state="0">
      <usermetrics />
    </state>
    <state name="TransformUIForm" x="286" y="286" w="357" h="315" state="0">
      <usermetrics />
    </state>
    <state name="MTextPropertyEditorDialog" x="464" y="264" w="1919" h="1025" state="0">
      <usermetrics />
    </state>
    <state name="CamBamMain" x="0" y="0" w="2576" h="1416" state="2">
      <usermetrics>
        <user>76</user>
        <user>640</user>
        <user>414</user>
      </usermetrics>
    </state>
    <state name="ToolpathFilter" x="1866" y="282" w="606" h="215" state="0">
      <usermetrics />
    </state>
    <state name="ControlWrapper" x="1883" y="280" w="584" h="409" state="0">
      <usermetrics />
    </state>
    <state name="HeightMapUI" x="791" y="239" w="885" h="815" state="0">
      <usermetrics />
    </state>
    <state name="ScriptTabView" x="26" y="26" w="656" h="516" state="0">
      <usermetrics />
    </state>
    <state name="PropertyCacheConflictPrompt" x="52" y="52" w="445" h="321" state="0">
      <usermetrics />
    </state>
    <state name="TextPropertyEditorDialog" x="182" y="182" w="452" h="277" state="0">
      <usermetrics />
    </state>
    <state name="PrintPreview" x="156" y="156" w="549" h="436" state="0">
      <usermetrics />
    </state>
  </formstates>
  <PropertyGridMetrics>
    <ColumnWidth>178</ColumnWidth>
    <ShowInfo>false</ShowInfo>
    <ShowAdvanced>true</ShowAdvanced>
    <GroupProperties>true</GroupProperties>
    <InfoHeight>-1</InfoHeight>
  </PropertyGridMetrics>
  <Language>de</Language>
  <ViewBackColor>50,50,60</ViewBackColor>
  <SelectColor>255,0,0</SelectColor>
  <MarkerColor>255,255,0</MarkerColor>
  <CutWidthColor>0,139,139</CutWidthColor>
  <DefaultLayerColor>127,255,0</DefaultLayerColor>
  <DefaultStockColor>255,165,0</DefaultStockColor>
  <ViewTextColor>255,255,0</ViewTextColor>
  <GridColor>65,65,65</GridColor>
  <View3DWireframe>true</View3DWireframe>
  <SnapToGrid>false</SnapToGrid>
  <GridInfo_Metric>
    <DrawingUnits>Millimeters</DrawingUnits>
    <Minimum>-50,-50</Minimum>
    <Maximum>50,50</Maximum>
    <MajorScale>10</MajorScale>
    <MinorScale>1</MinorScale>
  </GridInfo_Metric>
  <GridInfo_Inches>
    <DrawingUnits>Inches</DrawingUnits>
    <Minimum>-3,-3</Minimum>
    <Maximum>3,3</Maximum>
    <MajorScale>1</MajorScale>
    <MinorScale>0.0625</MinorScale>
  </GridInfo_Inches>
  <ToolpathLineColor>35,85,205</ToolpathLineColor>
  <ToolpathArcColor>0,220,0</ToolpathArcColor>
  <ToolpathRapidColor>255,69,0</ToolpathRapidColor>
  <ViewAxis>false</ViewAxis>
  <ArcDisplayDegrees>2.5</ArcDisplayDegrees>
  <SaveSettingsOnExit>true</SaveSettingsOnExit>
  <TextCurveTolerance>0.5</TextCurveTolerance>
  <SplineToPolylineTolerance>0.001</SplineToPolylineTolerance>
  <SplineCurveSteps>12</SplineCurveSteps>
  <FileBackups>1</FileBackups>
  <BackfaceCulling>false</BackfaceCulling>
  <ScriptTextStyle>
    <Name>default</Name>
    <color>120,255,180</color>
    <backcolor>0,0,0</backcolor>
    <font>Lucida Console;9.75;0</font>
  </ScriptTextStyle>
  <DefaultPostProcessor>LinuxCNC</DefaultPostProcessor>
  <PrintOptions>
    <PageOrientation>Landscape</PageOrientation>
    <Margins>
      <Bottom>0</Bottom>
      <Left>0</Left>
      <Right>0</Right>
      <Top>0</Top>
    </Margins>
  </PrintOptions>this.Entities.Add(CADUtils.GetCamBamLogo(50 / Unit.GetFactor(doc.DrawingUnits)))<Export3DPolylines>false</Export3DPolylines><DefaultDrawingDirectory>C:\projects\dev\CamBam\Motorsportfreunde</DefaultDrawingDirectory><ToolpathViewFilter><ZDepth>1</ZDepth><CutToolpathColor>255,0,0,109</CutToolpathColor><ToolpathColor>255,255,0</ToolpathColor><ToolpathLineWidth>0</ToolpathLineWidth></ToolpathViewFilter><ResizeOptions><PercentX>62.5</PercentX><PercentY>62.5</PercentY><PercentZ>100</PercentZ><EnableZ>false</EnableZ><ResizeMethod>Percent</ResizeMethod></ResizeOptions></CamBamConfig>